footer {
  grid-area: footer;
  @include grid_template(1fr auto / 1fr);
  row-gap: $desktop-gap;

  .info-block {
    @include grid_center(repeat(2, 1fr) / repeat(2, auto));
    row-gap: $desktop-gap;
    font-size: $sml-text-size;
  }

  .designed {
    font-size: $sml-text-size;
    text-align: center;
  }
}

@media (max-width: 1100px) { // то что происходит до 1100px 
  footer {}
}

@media (max-width: 750px) { // то что происходит до 750px 
  footer {
    row-gap: 0px;

    .info-block {
      @include grid_center(repeat(2, 1fr) auto / repeat(2, 1fr));
      row-gap: $small-gap;
      font-size: $sml-text-size;
    }

    .info-block__timetable > span  {
      display: none;
    }
    
    .designed > span {
      display: none;
    }
  }
}

@media (max-width: 500px) { // то что происходит до 500px 
  footer {
    * {
      font-size: $M-sml-text-size;
    }
  }
}
