/*==========Var==========Start*/

$color-1: #D9D9D94D;

$desktop-gap: 15px;
$small-gap: 10px;

$indent: 10px;

// Desktop-font
$biggest-font: 60px;

$main-title-size: 34px;
$sub-title-size: 28px;

$big-text-size: 26px;
$mid-text-size: 22px;
$sml-text-size: 18px;

// Mobile-font
$M-main-title-size: 30px;
$M-sub-title-size: 26px;

$M-big-text-size: 24px;
$M-mid-text-size: 20px;
$M-sml-text-size: 16px;

/*==========Var==========End*/

/*==========Mixin==========Start*/

@mixin grid_template($template) { 
//@include grid_template($template);

  display: grid;
  grid-template: $template;
}

@mixin grid_center($template) {
//@include grid_center($template);

  display: grid;
  grid-template: $template;
  align-items: center;
  text-align: center;
}

@mixin grid_items( $j-items, $a-items) { 
//@include grid_items($j-items, $a-items);
  
  justify-items: $j-items; //горизонтальное выравнивание содержимого
  align-items: $a-items; //вертикальное выравнивание содержимого
  //значения: start, end, center
}

@mixin grid_content($j-content, $a-content) { 
//@include grid_content($j-content, $a-content);

  justify-content: $j-content; //горизонтальное выравнивание сетки
  align-content: $a-content; //вертикальное выравнивание сетки
  //значения: start, end, center, stretch, space-around, space-evenly, space-between
}


/*==========Mixin==========End*/