/*==========Var==========Start*/

$color-1: #D9D9D94D;

$desktop-gap: 15px;
$small-gap: 10px;

$indent: 10px;

// Desktop-font
$biggest-font: 60px;
$big-font-size: 24px;
$mid-font-size: 18px;
$sml-font-size: 16px;

// < 1100px-font
$big2-font-size: 18px;
$mid2-font-size: 14px;
$sml2-font-size: 12px;

/*==========Var==========End*/

/*==========Mixin==========Start*/

@mixin grid_template($template) { 
//@include grid_template($template);

  display: grid;
  grid-template: $template;
}

@mixin grid_center($template) {
//@include grid_center($template);

  display: grid;
  grid-template: $template;
  align-items: center;
  text-align: center;
}

@mixin grid_items( $j-items, $a-items) { 
//@include grid_items($j-items, $a-items);
  
  justify-items: $j-items; //горизонтальное выравнивание содержимого
  align-items: $a-items; //вертикальное выравнивание содержимого
  //значения: start, end, center
}

@mixin grid_content($j-content, $a-content) { 
//@include grid_content($j-content, $a-content);

  justify-content: $j-content; //горизонтальное выравнивание сетки
  align-content: $a-content; //вертикальное выравнивание сетки
  //значения: start, end, center, stretch, space-around, space-evenly, space-between
}


/*==========Mixin==========End*/