.main-about-us {
  grid-area: main;
  @include grid_template(1fr / 1fr);
  gap: $indent;
  padding: $indent;
  background-color: $color-1;
}

@media (max-width: 1100px) { // то что происходит до 1100px 
.main-about-us {}
}

@media (max-width: 750px) { // то что происходит до 750px 
.main-about-us {}
}

@media (max-width: 500px) { // то что происходит до 500px 
.main-about-us {}
}
