.main-home {
  grid-area: main;
  @include grid_template(400px 1fr / auto 1fr);
  gap: $desktop-gap;

  .promotion {
    grid-column: 1 / 3;
    @include grid_template(1fr / 1fr 1fr);
    column-gap: $desktop-gap;
    text-align: center;
    padding: $indent;
    background-color: $color-1;

    p {
      font-size: $biggest-font;
    }

    &__info {
      @include grid_template(repeat(4, auto) / 1fr);
      align-content: space-evenly;
    }

    &__pic {
      @include grid_center(1fr / 1fr);
      background-color: #0000009a;
    }
  }

  .catalog {
    @include grid_template(repeat(2, auto) / 1fr);
    align-content: start;
    row-gap: $desktop-gap;

    background-color: $color-1;
    padding: $indent 30px;

    &__list {
      @include grid_template(repeat(2, auto) / 1fr);
      row-gap: 5px;

      li {
        font-size: $sml-text-size;
        padding: 0 0 $indent $indent;
      }
      li:hover {
        color: aquamarine;
      }
    }
  }

  .goods {
    grid-column: 2 / 3;
    @include grid_template(auto 1fr auto / 1fr);
    background-color: $color-1;
    padding: $indent;
    row-gap: $desktop-gap;

    &__title-filter {
      @include grid_center(1fr / 1fr);
      position: relative;

      button {
        font-size: $big-text-size;
      }
      
      .catalog-btn {
        display: none;
      }
      
      .filter-btn {
        position: absolute;
        right: 0;
      }
    }

    &__block {
      @include grid_auto-fit(250px, 30px);
      align-content: start;

      .card {
        @include grid_template(75% repeat(2, 1fr) 2fr / 1fr);
        row-gap: $indent;
        height: 400px;
        border-radius: 20px;
        padding: $indent;
        background-color: $color-1;
        
        &__img {
          @include grid_center(auto / 1fr);
          background-color: #0000009a;
          border-radius: 20px;  

          p {
            @include grid_template(auto / 1fr);
            @include grid_content(center, center);
            font-size: $sub-title-size;
          }
        }

        a > p, &__sub-name {
          font-size: $sml-text-size;
        }

        a > p:hover {
          color: aquamarine;
        }
        
        &__description, &__price-hover {
          display: none;
        }
        
        &__price {
          @include grid_center(1fr / auto 1fr);
          background-color: rgba(0, 0, 0, 0);
          justify-self: end;
          align-self: end;
          font-size: $mid-text-size;
        }
      }

      .card-hover:hover {   
        @include grid_template(repeat(2, auto) 1fr auto / 1fr);
        row-gap: $desktop-gap;
        background-color: #0000009a;
        transition: all 0.25s linear 0s;

        .card__img, .card__price {
          display: none;
        }

        a > p, .card__sub-name {
          font-size: $mid-text-size;
          text-align: center;
        }
        
        .card__description {
          display: block;
        }
        
        .card__price-hover {
          @include grid_center(1fr / auto 1fr);
          background-color: rgba(0, 0, 0, 0);
          justify-self: end;
          align-self: end;
          font-size: $mid-text-size;
          
          p:hover {
            color: aquamarine;
          }
        }
      }
    }

    &__load {
      background-color: rgba(0, 0, 0, 0);
      font-size: $mid-text-size;
      text-align: center;
    }

    &__load:hover {
      color: aquamarine;
    }
  }
}

@media (max-width: 1100px) { // то что происходит до 1100px 
  .main-home {  
    .catalog {
      display: none;
    }
  
    .goods {
      grid-column: 1 / 3;
  
      &__title-filter {
        @include grid_center(1fr / auto 1fr auto);

        .catalog-btn {
          display: block;
        }

        h1 {
          font-size: $sub-title-size;
        }

        .filter-btn {
          position: static;
        }
      }
    }
  }
}

@media (max-width: 750px) { // то что происходит до 750px 
  .main-home {
    @include grid_template(auto 1fr / auto 1fr);
    gap: $small-gap;

    .promotion {
      @include grid_template(300px / 1fr 1fr);
      column-gap: none;

      &__info {
        display: none;
      }

      &__pic {
        grid-column: 1 / 3;
      }
    }

    .goods {
      grid-column: 1 / 3;
  
      &__title-filter {
        @include grid_center(1fr / auto 1fr auto);

        button > span {
          display: none;
        }

        .catalog-btn {
          display: block;
        }

        h1 {
          font-size: $sub-title-size;
        }

        .filter-btn {
          position: static;
        }
      }
    }
  }
}

@media (max-width: 550px) { // то что происходит до 500px 
  .main-home {
    .goods {
      &__block {
        @include grid_template(auto / 1fr);
        row-gap: $small-gap;

        .card {
          @include grid_template(repeat(3, auto) / 1.5fr 1fr);
          column-gap: $small-gap;
          height: auto;
          
          &__img > p > span {
            display: none;
          }

          &__img {
            grid-row: 1 / 4 ;
          }

          a > p, &__sub-name, &__price {
            font-size: $mid-text-size;
            text-align: center;
          }

          &__price {
            display: none;
          }
        
          &__price-hover {
            @include grid_center(1fr / auto 1fr);
            background-color: rgba(0, 0, 0, 0);
            justify-self: center;
            align-self: end;
            font-size: $big-text-size;

            p > span {
              display: none;
            }
          }
        }

        .card-hover:hover {       
          @include grid_template(auto 1fr auto / 1fr);

          .card__sub-name {
            display: none;
          }
        }
      } 
    }
  }
}