.main-shopping-cart {
  grid-area: main;
  @include grid_template(1fr / repeat(2, 1fr));
  gap: $indent;
  padding: $indent;
  background-color: $color-1;

  &__forms{
    @include grid_template(repeat(2, auto) / 1fr);
    align-content: start;
    row-gap: $desktop-gap;
    padding: $indent;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2%;

    h2 {
      text-align: center;
    }

    form > * {
      font-size: $sml-text-size;
    }

    form {
      @include grid_template(auto / auto 1fr);
      align-items: center;
      gap: 30px;

      input, select {
        height: 35px;
        background-color: rgba(0, 0, 0, 0.7);
      }

      .form-button {
        grid-column: 1 / 3; 
        @include grid_template(1fr / repeat(2, 1fr));
        @include grid_items(center, center);
        column-gap: $indent;

        button {
          background-color: $color-1;
          height: 40px;
          width: 150px;
          border-radius: 10% / 35% ;
        }

        button:hover {
          background-color: $color-3;
        }
      }
    }
  }

  &__order {
    @include grid_template(auto / 1fr);
    align-content: start;
    row-gap: $desktop-gap;
    padding: $indent;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2%;

    h2 {
      text-align: center;
    }

    .order-list {
      @include grid_template(auto / 1fr);
      align-content: start;
      gap: 30px;

      overflow-y: auto;

      max-height: 700px;
      padding-right: 5px;

      &__element {
        @include grid_template(1fr / auto 1fr repeat(2, auto));

        align-items: center;
        column-gap: $indent;

        padding: 0px 5px;

        border: solid black 2px;
        border-radius: 2% / 40%;

        height: 35px;
        font-size: $sml-text-size;

        .counter {
          @include grid_template(1fr / auto 40px auto minmax(75px, auto));
          column-gap: $indent;

          input {
            background-color: rgba(0, 0, 0, 0.2);
            text-align: center;
          }

          &__price {
            @include grid_self(center, center);
          }
        }

        &_name {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &_name:hover {
          color: $color-2;
        }
      }

      .empty__shopping-cart {
        display: none;
      }
    }

    .empty {
      height: 60vh;
      align-content: center;

      &__shopping-cart.active {
        display: block;
        
        text-align: center;
        align-self: center;

        font-size: 50px;
        color: rgba(255, 255, 255, 0.75);
      }
    }

    .total {
      //display: grid;
      grid-template: 1fr / 1fr;
      justify-items: end;
      font-size: $mid-text-size;
    }
  }
}

@media (max-width: 1100px) { // то что происходит до 1100px 
.main-shopping-cart {
  @include grid_template(auto 1fr / 1fr);
  align-items: start;

  &__forms{
    @include grid_template(auto 1fr / 1fr);
    order: 1;
  }
}
}

@media (max-width: 750px) { // то что происходит до 750px 
.main-shopping-cart {
  &__order {
    @include grid_template(auto 490px auto / 1fr);

    .empty {
      height: 100%;

      &__shopping-cart.active {
        font-size: 40px;
      }
    }
  }
}
}

@media (max-width: 500px) { // то что происходит до 500px 
.main-shopping-cart {
  &__forms{
    form > * {
      font-size: $M-sml-text-size;
    }

    form {
      gap: $desktop-gap;

      .form-button {
        button {
          height: 40px;
          width: 110px;
        }
      }
    }
  }

  &__order {
    .order-list {
      gap: $desktop-gap;

      &__element {
        @include grid_template(1fr / 1fr repeat(2, auto));
        height: 40px;
        padding: 0px 3px;
        font-size: $M-sml-text-size;

        &_number {
          display: none
        }

        .counter {
          @include grid_template(1fr / auto 30px auto minmax(60px, auto));
          column-gap: 5px;

          .icon-mid-style {
            display: none;
          }
          
          .icon-small-style {
            display: block;
          }
        }
      }
    }

    .total {
      font-size: $M-mid-text-size;
    }
  }
}
}
