/*==========Scroll==========*/

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #d1d1d1;
}

/*==========Scroll==========*/

/*==========Var==========*/

$desktop-gap: 20px;
$small-gap: 10px;

// Desktop-font
$big-font-size: 24px;
$mid-font-size: 20px;
$sml-font-size: 18px;

// <1100px-font
$big2-font-size: 16px;
$mid2-font-size: 15px;
$sml2-font-size: 12px;

/*==========Var==========*/


