html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

/*==========Var==========Start*/
/*==========Var==========End*/
/*==========Mixin==========Start*/
/*==========Mixin==========End*/
/*==========Scroll==========*/
::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ffffff;
}

/*==========Scroll==========*/
body {
  background: url("../../media/pattern.png");
  background-color: rgb(15, 15, 15);
  display: grid;
  grid-template: 1fr/1fr minmax(1100px, 1500px) 1fr;
}
body * {
  font-family: "Roboto", sans-serif;
  color: white;
}
body .icon-big-style {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 32px;
}
body .icon-mid-style {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 24px;
}
body .icon-small-style {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 18px;
}
body h1 {
  font-size: 34px;
}
body h2 {
  font-size: 28px;
}
body .wrapper {
  grid-column-start: 2;
  display: grid;
  grid-template: auto 1fr auto/1fr;
  grid-template-areas: "header" "main" "footer";
  gap: 15px;
  min-height: 100vh;
}

@media (max-width: 1100px) {
  body {
    grid-template: 1fr/1fr minmax(750px, 1100px) 1fr;
  }
}
@media (max-width: 750px) {
  body {
    grid-template: 1fr/1fr minmax(500px, 750px) 1fr;
  }
}
@media (max-width: 500px) {
  body {
    grid-template: 1fr/1fr minmax(320px, 500px) 1fr;
  }
}
header {
  grid-area: header;
  display: grid;
  grid-template: 1fr/0.15fr 1fr 0.15fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .logo {
  font-size: 60px;
}
header .header-menu {
  display: grid;
  grid-template: 1fr/repeat(4, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .header-menu__burger-btn, header .header-menu > a {
  font-size: 26px;
}
header .header-menu__burger-btn > p:hover, header .header-menu > a:hover {
  color: greenyellow;
}
header .header-menu__burger-btn {
  display: grid;
  grid-template: 1fr/repeat(2, auto);
}
header .header-menu__burger-btn img {
  justify-self: end;
}
header .header-menu__burger-btn p {
  justify-self: start;
}
header .header-icon {
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
}

@media (max-width: 1100px) {
  header {
    display: grid;
    grid-template: 1fr/1fr auto 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .header-menu {
    display: grid;
    grid-template: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    justify-self: start;
    white-space: nowrap;
  }
  header .header-menu > a {
    display: none;
  }
  header .header-icon {
    justify-self: end;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 750px) {
  header {
    display: grid;
    grid-template: 1fr/1fr repeat(2, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  header .logo {
    font-size: 45px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    justify-self: start;
  }
  header .header-menu > .header-menu__burger-btn > p {
    display: none;
  }
  header .header-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    justify-self: end;
  }
  header .header-icon {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.main-home {
  grid-area: main;
  display: grid;
  grid-template: 400px 1fr/auto 1fr;
  gap: 15px;
}
.main-home .promotion {
  grid-column: 1/3;
  display: grid;
  grid-template: 1fr/1fr 1fr;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  text-align: center;
  padding: 10px;
  background-color: rgba(217, 217, 217, 0.3019607843);
}
.main-home .promotion p {
  font-size: 60px;
}
.main-home .promotion__info {
  display: grid;
  grid-template: repeat(4, auto)/1fr;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}
.main-home .promotion__pic {
  display: grid;
  grid-template: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6039215686);
}
.main-home .catalog {
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  row-gap: 15px;
  background-color: rgba(217, 217, 217, 0.3019607843);
  padding: 10px 30px;
}
.main-home .catalog__list {
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  row-gap: 5px;
}
.main-home .catalog__list li {
  font-size: 18px;
  padding: 0 0 10px 10px;
}
.main-home .catalog__list li:hover {
  color: greenyellow;
}
.main-home .goods {
  grid-column: 2/3;
  display: grid;
  grid-template: auto 1fr auto/1fr;
  background-color: rgba(217, 217, 217, 0.3019607843);
  padding: 10px;
  row-gap: 15px;
}
.main-home .goods__title-filter {
  display: grid;
  grid-template: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}
.main-home .goods__title-filter button {
  font-size: 26px;
}
.main-home .goods__title-filter .catalog-btn {
  display: none;
}
.main-home .goods__title-filter .filter-btn {
  position: absolute;
  right: 0;
}
.main-home .goods__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: start;
}
.main-home .goods__block .card {
  display: grid;
  grid-template: 75% repeat(2, 1fr) 2fr/1fr;
  row-gap: 10px;
  height: 400px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(217, 217, 217, 0.3019607843);
}
.main-home .goods__block .card__img {
  display: grid;
  grid-template: auto/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6039215686);
  border-radius: 20px;
}
.main-home .goods__block .card__img p {
  display: grid;
  grid-template: auto/1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 28px;
}
.main-home .goods__block .card__name, .main-home .goods__block .card__sub-name {
  font-size: 18px;
}
.main-home .goods__block .card__description, .main-home .goods__block .card__price-hover {
  display: none;
}
.main-home .goods__block .card__price {
  display: grid;
  grid-template: 1fr/auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  justify-self: end;
  align-self: end;
  font-size: 22px;
}
.main-home .goods__block .card-hover:hover {
  display: grid;
  grid-template: repeat(2, auto) 1fr auto/1fr;
  row-gap: 15px;
  background-color: rgba(0, 0, 0, 0.6039215686);
  -webkit-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.main-home .goods__block .card-hover:hover .card__img, .main-home .goods__block .card-hover:hover .card__price {
  display: none;
}
.main-home .goods__block .card-hover:hover .card__name, .main-home .goods__block .card-hover:hover .card__sub-name {
  font-size: 22px;
  text-align: center;
}
.main-home .goods__block .card-hover:hover .card__description {
  display: block;
}
.main-home .goods__block .card-hover:hover .card__price-hover {
  display: grid;
  grid-template: 1fr/auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  justify-self: end;
  align-self: end;
  font-size: 22px;
}
.main-home .goods__block .card-hover:hover .card__price-hover p:hover {
  color: greenyellow;
}
.main-home .goods__load {
  background-color: rgba(0, 0, 0, 0);
  font-size: 22px;
  text-align: center;
}
.main-home .goods__load:hover {
  color: greenyellow;
}

@media (max-width: 1100px) {
  .main-home .catalog {
    display: none;
  }
  .main-home .goods {
    grid-column: 1/3;
  }
  .main-home .goods__title-filter {
    display: grid;
    grid-template: 1fr/auto 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main-home .goods__title-filter .catalog-btn {
    display: block;
  }
  .main-home .goods__title-filter h1 {
    font-size: 28px;
  }
  .main-home .goods__title-filter .filter-btn {
    position: static;
  }
}
@media (max-width: 750px) {
  .main-home {
    display: grid;
    grid-template: auto 1fr/auto 1fr;
    gap: 10px;
  }
  .main-home .promotion {
    display: grid;
    grid-template: 300px/1fr 1fr;
    -webkit-column-gap: none;
       -moz-column-gap: none;
            column-gap: none;
  }
  .main-home .promotion__info {
    display: none;
  }
  .main-home .promotion__pic {
    grid-column: 1/3;
  }
  .main-home .goods {
    grid-column: 1/3;
  }
  .main-home .goods__title-filter {
    display: grid;
    grid-template: 1fr/auto 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main-home .goods__title-filter button > span {
    display: none;
  }
  .main-home .goods__title-filter .catalog-btn {
    display: block;
  }
  .main-home .goods__title-filter h1 {
    font-size: 28px;
  }
  .main-home .goods__title-filter .filter-btn {
    position: static;
  }
}
@media (max-width: 550px) {
  .main-home .goods__block {
    display: grid;
    grid-template: auto/1fr;
    row-gap: 10px;
  }
  .main-home .goods__block .card {
    display: grid;
    grid-template: repeat(3, auto)/1.5fr 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    height: 15vh;
  }
  .main-home .goods__block .card__img > p > span {
    display: none;
  }
  .main-home .goods__block .card__img {
    grid-row: 1/4;
  }
  .main-home .goods__block .card__name, .main-home .goods__block .card__sub-name, .main-home .goods__block .card__price {
    font-size: 22px;
    text-align: center;
  }
  .main-home .goods__block .card__price {
    display: none;
  }
  .main-home .goods__block .card__price-hover {
    display: grid;
    grid-template: 1fr/auto 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    justify-self: center;
    align-self: end;
    font-size: 26px;
  }
  .main-home .goods__block .card__price-hover p > span {
    display: none;
  }
  .main-home .goods__block .card-hover:hover {
    display: grid;
    grid-template: auto 1fr auto/1fr;
  }
  .main-home .goods__block .card-hover:hover .card__sub-name {
    display: none;
  }
}
.main-product {
  grid-area: main;
  display: grid;
  grid-template: 1fr/auto 1fr;
  gap: 15px;
}
.main-product .catalog {
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  row-gap: 15px;
  background-color: rgba(217, 217, 217, 0.3019607843);
  padding: 10px 30px;
}
.main-product .catalog__list {
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  row-gap: 5px;
}
.main-product .catalog__list li {
  font-size: 18px;
  padding: 0 0 10px 10px;
}
.main-product .catalog__list li:hover {
  color: greenyellow;
}
.main-product .goods {
  grid-column: 2/3;
  display: grid;
  grid-template: auto 1fr/1fr;
  background-color: rgba(217, 217, 217, 0.3019607843);
  padding: 10px;
  row-gap: 30px;
}
.main-product .goods__path-return {
  display: grid;
  grid-template: 1fr/1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main-product .goods__path-return h2 {
  justify-self: start;
}
.main-product .goods__path-return button {
  font-size: 26px;
}
.main-product .goods__block {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
}
.main-product .goods__block .goods__pic {
  border-right: solid 1.5px white;
  border-bottom: solid 1.5px white;
}
.main-product .goods__block .goods__info {
  border-left: solid 1.5px white;
  border-bottom: solid 1.5px white;
}
.main-product .goods__block .goods__specification {
  border-right: solid 1.5px white;
  border-top: solid 1.5px white;
}
.main-product .goods__block .goods__description {
  border-left: solid 1.5px white;
  border-top: solid 1.5px white;
}
.main-product .goods__block div {
  display: grid;
  grid-template: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 60px;
}

@media (max-width: 1100px) {
  .main-product .catalog {
    display: none;
  }
  .main-product .goods {
    grid-column: 1/3;
  }
}
@media (max-width: 750px) {
  .main-product .goods__block {
    display: grid;
    grid-template: repeat(4, 1fr)/1fr;
  }
  .main-product .goods__block .goods__pic {
    border-right: solid 0px white;
  }
  .main-product .goods__block .goods__info {
    border-left: solid 0px white;
  }
  .main-product .goods__block .goods__specification {
    border-right: solid 0px white;
    border-top: solid 0px white;
    border-bottom: solid 1.5px white;
  }
  .main-product .goods__block .goods__description {
    border-left: solid 0px white;
    border-top: solid 0px white;
  }
  .main-product .goods__block div {
    display: grid;
    grid-template: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .main-product .goods__path-return h2 {
    font-size: 22px;
  }
  .main-product .goods__path-return button > span {
    display: none;
  }
  .main-product .goods__block div {
    display: grid;
    grid-template: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 50px;
  }
}
footer {
  grid-area: footer;
  display: grid;
  grid-template: 1fr auto/1fr;
  row-gap: 15px;
}
footer .info-block {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 15px;
  font-size: 18px;
}
footer .designed {
  font-size: 18px;
  text-align: center;
}

@media (max-width: 750px) {
  footer {
    row-gap: 0px;
  }
  footer .info-block {
    display: grid;
    grid-template: repeat(2, 1fr) auto/repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 10px;
    font-size: 18px;
  }
  footer .info-block__timetable > span {
    display: none;
  }
  footer .designed > span {
    display: none;
  }
}
@media (max-width: 500px) {
  footer * {
    font-size: 16px;
  }
}